<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>New Note</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css" >
</head>
<body>
<div class="container">

    <div class="row">
        <h2>Update Note</h2>
    </div>

    <div class="row">
        <form action="#" th:action="@{/note/{id}/edit(id=${noteDto.id})}"
              th:object="${noteDto}" method="post" class="form-horizontal" style="width: 100%">
            <div class="form-group">
                <label for="note" class="col-sm-2 control-label">Note</label>
                <div class="col-sm-10">
                    <textarea style="width: 200px; height: 100px;"
                              th:field="*{note}"
                              id="note"
                              class="col-6">
                    </textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <a class="btn btn-danger btn-sm" th:href="@{/note/{id}(id=${noteDto.id})}">Cancel</a>
                    <input class="btn btn-primary btn-sm" type="submit" value="Update Note">
                </div>
            </div>
        </form>
    </div>

</div>

</body>
</html>